<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an achievement</title>
    <link rel="stylesheet" href="css/style.css" >
</head>
<body>
<div class="area">
<br>
<form class="changePage" action="/" method="POST">
    <table>
        <tr>
            <th><label for="imageUrl" >Image URL:</label></th>
            <th><input type="text" name="imageUrl" id="imageUrl" required="required"></th>
        </tr>
        <tr>
            <th><label>Name:</label></th>
            <th><input type="text" name="namePage" required="required"></th>
        </tr>
        <tr>
            <th><label for="achievement">Achievement:</label></th> 
            <th><input type="text" name="achievement" id="achievement" required="required"></th> 
        </tr>
        <tr>
            <th></th>
            <th><button class="btn" type="submit">Add</button></th>
        </tr>  
    </table>
</form>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>